<div class="list">
    <div class="add">
        <a href="" ng-click="addTodo()" class="btn btn-success">+ Add a New Task</a>
    </div>

    <!-- ng-class adds the .editing-item or .edited classes if the editing or todo.edited variables are TRUE -->
    <div class="item" ng-class="{'editing-item': editing, 'edited': todo.edited, 'completed': todo.completed}"
            ng-repeat="todo in todos | orderBy: 'completed'" ng-init="todo.completed = false"> <!--ng-init is only used with ng-repeat -->
        <input ng-model="todo.completed" type="checkbox"/>
        <span ng-click="todo.completed = !todo.completed; todo.edited = true"></span>
        <label ng-hide="editing" ng-click="helloWorld()">
        {{todo.name}}</label>
        <!-- ng-change sets todo.edited to TRUE if something has changed in this input -->
        <input ng-change="todo.edited = true" ng-blur="editing = false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>

        <div class="actions">
            <a href="" ng-click="editing = !editing" class="btn btn-primary"><i class="fa fa-pencil"></i> Edit</a>
            <a href="" ng-click="saveTodos(todo)" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save</a>
            <a href="" ng-click="deleteTodo(todo, $index)" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
        </div>
    </div>
</div><!--mainCtrl-->