
    <h1>Course Management</h1>
    
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>

                    <a href="" ng-click="addcourse = !addcourse" class="btn btn-success btn-block margin-top">Add a New Course</a>

                    <div ng-show="addcourse" class="well">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input ng-model="newCourse.course_prefix" type="text" class="form-control" placeholder="Course Prefix">
                            </div>
                            <div class="form-group col-sm-6">
                                <input ng-model="newCourse.course_number" type="text" class="form-control" placeholder="Course #">
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="newCourse.course_name" placeholder="Add a New Course">
                            <span class="input-group-btn">
                                <button ng-click="addCourse(newCourse);newCourse={}" class="btn btn-success" type="button">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                </div><!--.panel-heading-->

                <div class="panel-body">
                    <div class="list-group">
                        <a href="" ng-click="activeCourse(course);getOutcomes(course)" ng-class="{'active': course == active}"
                           class="list-group-item" ng-repeat="course in courses | filter: searchKeyword | orderBy: 'course_prefix'">
                           {{course.course_prefix}} {{course.course_number}} {{course.course_name}}
                        </a>
                    </div>
                </div><!--.panel-body-->
            </div>
        </div><!--.col-sm-4-->

        <div class="col-sm-8">
            <div class="panel panel-primary">
                <div ng-hide="active" class="panel-heading">
                    Please select a Course
                </div>
                <div ng-show="active" class="panel-heading">
                    <div class="btn-group pull-right">
                        <a href="" class="btn btn-default btn-xs" ng-click="editing = !editing">Edit Course</a>
                        <a href="" class="btn btn-success btn-xs" ng-click="addbutton = !addbutton; newOutcome.course_id = active.course_id">+ Add Outcome</a>
                        
                    </div>
                    <h4 class="panel-title">{{active.course_prefix}} {{active.course_number}} - {{active.course_name}} Outcomes</h4>
                </div>
                <div class="panel-body">
                    
                    <div class="well" ng-show="editing">
                        <div class="form-group">
                            <label>Course Prefix</label>
                            <input ng-change="course.edited = true"  ng-model="active.course_prefix" type="text" class="form-control" placeholder="Prefix"/>
                        </div>

                        <div class="form-group">
                            <label>Course #</label>
                            <input ng-change="course.edited = true" ng-model="active.course_number" type="text" class="form-control" placeholder="Number"/>
                        </div>
                        <div class="form-group">
                            <label>Course Name</label>
                            <input ng-change="course.edited = true" ng-model="active.course_name" type="text" class="form-control" placeholder="Course Name"/>
                        </div>
                        <a href="" ng-click="saveCourse(active); editing = false" class="btn btn-primary">Save Course</a>
                    </div>

                    <ng-include src="'views/outcomes.html'"></ng-include>
                </div>
            </div>
        </div>
        
    </div><!--.row-->