<div ng-repeat="outcome in outcomes" ng-init="closed = true;getQuestions(outcome)" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="badge pull-right">{{outcome.questions.length}}</span>
            <h4 ng-click="closed = !closed;activeOutcome(outcome)" class="panel-title">{{outcome.outcome_text}}</h4>
        </div>

        <div class="panel-collapse" ng-hide="closed">
            <div class="panel-body">
                <div class="btn-group pull-right">
                    <a href="" ng-click="editoutcome = !editoutcome" class="btn btn-primary btn-xs">Edit Outcome</a>
                    <a href="" ng-click="addquestion = !addquestion;" class="btn btn-success btn-xs">
                        + Add Question
                    </a>
                </div>
                
                <div class="well" ng-show="editoutcome">
                    <div class="form-group">
                        <label>Outcome Text</label>
                        <input type="text" ng-model="outcome.outcome_text" class="form-control" placeholder="Outcome Text">
                    </div>
                    <a href="" ng-click="saveOutcome(outcome);editoutcome = false" class="btn btn-success">Save Outcome</a>
                </div>

                <div class="well" ng-show="addquestion">
                    <div class="form-group">
                        <label>Question Text</label>
                        <input type="text" ng-model="newQuestion.question_text" class="form-control" placeholder="Enter your question here">
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select ng-model="newQuestion.question_type" class="form-control">
                            <option value="" disabled selected>Select One</option>
                            <option value="multichoice">Multiple Choice</option>
                            <option value="truefalse">True/False</option>
                            <option value="shortanswer">Short Answer</option>
                        </select>
                    </div>
                    <a href="" ng-click="newQuestion.outcome_id = outcome.outcome_id;addQuestion(newQuestion);addquestion = false;newQuestion = {}" class="btn btn-success">Add Question</a>
                </div>

                <ng-include src="'views/questions.html'"></ng-include>
                
            </div>
        </div>
    </div><!--.panel .panel-default-->
    
</div>